body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}

.debug-red {
    background: red;
}

.debug-green {
    background: green;
}

.debug-blue {
    background: blue;
}
